body {
    min-height: 100vh;
    background-color: #373a40;
}

h1, h2, h3, h4, p {
    color: white;
}

iframe {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 85%;
}

.centered {
    margin: auto;
    min-height: 100vh;
    min-width: 100vh;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}