body {
    background-color: #373a40;
}

h1, h2, h3, h4, p {
    color: white;
}

.centered {
    margin: auto;
    width: 50%;
    text-align: center;
}

ul {
    list-style-type: none;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}